*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
header{
  
    width: 100%;
    background: #f5ecdb;
}
.container{
    padding: 20px 80px;
    margin: 0 auto;
   

}
.header .container .navbar{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    widows: 100%;
}
.header .container .navbar-logo span{
    color: #f26200;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;

}
.header .container ul{
    display: flex;
}
.header .container ul li{
    padding: 10px 10px;
    margin: 0 10px;
    font-weight: 400;
}
.header .container ul li a{
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
}
.header .container ul li a:hover{
    color: #000000;
}
.header .container ul li .active{
    color:#000000;
}
.header .container .content{
    padding: 180px 0;
    text-align: center;
    width: 750px;
    margin: 0 auto;
}
.header .container .content h1{
    font-size: 60px;
    color: #f26200;

}
.header .container .content .play-icon .fa-play-circle{
    font-size: 80px;
    color: #f26200;
    margin-top: 50px;
}
.header .container .content p{
    margin-top: 20px;
    font-size: 18px;
}
.banner{
    width: 100%;
    padding: 30px 0;
}
.banner .container .card{
    display: flex;
    width: 100%;

}
.banner .container .card .card-item {
    width: 32%;
    padding: 10px;
    margin-right: 40px ;
}
.banner .container .card .card-item .card-icon {
    font-size: 50px;
    color: #f26200;


}
.banner .container .card .card-item h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;

}
.banner .container .card .card-item p{
    line-height: 1.7;
    font-weight: 300;
    color: rgb(117, 117, 117);
    font-size: 17px;
    background: rgb(255, 255, 255);
    font-family: Jost, serif;
    
}
.portfolio .container h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.portfolio .container .gellery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px 0;
    grid-gap: 1.8rem;
}
.portfolio .container .gellery .img-item{
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
   
}
.portfolio .container .gellery .img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.portfolio .container .gellery .img-item img:hover{
    transform: scale(1.08);
}
.portfolio .container .gellery .img-item:hover.img-item
{
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.testimonials .container h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
.testimonials .container .cards-wraper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.8rem;
    padding: 40px 0;
}
.testimonials .container .cards-wraper .card-item{
    background: #f5ecdb;
    border-radius: 2px;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}
.testimonials .container .cards-wraper .card-item .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.testimonials .container .cards-wraper .card-item .head h3{
    color: #f26200;
    font-weight: 700;

}
.testimonials .container .cards-wraper .card-item  p{
    font-size: 16px;
    color: rgb(117, 117, 117);
    line-height: 25px;
    
}
.testimonials .container .cards-wraper .card-item .head img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}